<h2>Word: <%= @word.word %></h2>

<form action="/words/<%= @word.id %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit" class="btn">Delete word</button>
</form>

<a href="/words">Back to words</a>