<h2>Learning Words is Fun</h2><br>
<h4>Here is a list of words</h4>

<% if @words.any? %>
  <ul>
    <% @words.each do |word| %>
      <li><a href="/words/<%= word.id %>"><%= word.word %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no words available</p>
<% end %>

<form action="/words" method="post">
  <div class="form-group">
    <label for="word">Enter a word</label>
    <input id="word" class="form-control" name="word" type="text">
  </div>
  <button type="submit" class="btn btn-success">Add Word</button>
</form>