<h2>Learning Words is Fun</h2><br>

<% if @words.any? %>
<h3>Here is a list of words:</h3>
  <ul>
    <% @words.each do |word| %>
      <li><a href="/words/<%= word.id %>"><%= word.word %></a></li>
    <% end %>
  </ul>
<% else %>
  <h3>Sorry!</h3>
  <p>There are currently no words available, Please add below.</p>
<% end %>

<form action="/words" method="post">
  <div class="form-group">
    <label for="word">Enter a word</label>
    <input id="word" class="form-control" name="word" type="text" required>
  </div>
  <button type="submit" class="btn btn-success">Add Word</button>
</form>